<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="imu_link">
    <visual><geometry><sphere radius="0.02"/></geometry><material name="Hros5Grey"/></visual>
    <collision><geometry><sphere radius="0.02"/></geometry></collision>
    <inertial>
      <mass value="0.1"/><origin xyz="0 0 0"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>
  <xacro:fixed_joint parent="base_link" child="imu_link"/>
</robot>