<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="hands_control" params="">
    <ros2_control name="DynamixelHardware" type="system">
      <hardware>
        <plugin>dynamixel_hardware_interface/DynamixelHardware</plugin>
      </hardware>
      <joint name="LHand">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="LGripper">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>

</robot>
